<p class="paragraph-knowledge">
    <label for="nombre" class="content-label">
        Nombre de Usuario
    </label>
    <input type="text" name="user_name" id="nombre" required="obligatorio" placeholder="Escribe tu nombre de usuario" value="{{user_name}}" tabindex="1" disabled>
</p>

<p class="paragraph-knowledge">
    <label for="email" class="content-label">
        Email
    </label>
    <input type="email" name="email" id="email" required="obligatorio" placeholder="Escribe tu Email" value="{{email}}" tabindex="1" disabled>
</p>

<p class="paragraph-knowledge">
    <label for="password" class="content-label">
        Password
    </label>
    <input type="text" name="password" id="password" placeholder="Change the password" value="{{password}}" tabindex="1" disabled>
</p>

{{!-- ! delete where not be utils --}}
{{!-- <p id="change-data">
    <label for="changes_datas" class="content-label">
        change data
    </label>

    <input type="text" name="change_data" placeholder="Change data" id="send-data" value="">
</p> --}}

<div class="{{class_content_result}}" id="error-message" >
    <i class="{{icon_message_result}}"></i>
    <p>
        <span class="title-text">{{result_message}}</span>{{data_error}}
    </p>
</div>